html, body {
  background-color: white;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(20, 18, 18);
}

.parent-container {
  display: grid;
  width: 75vw;
  height: 100vh;
  grid-template-areas:  " nav search search"
                        "nav header header"
                        "nav main announcements"
                        "nav main trending";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.5fr 1fr 2.5fr 2.5fr;
}

.child {
  background-color: whitesmoke;
}

.item-1 {
  grid-area: nav;
  background-color: rgb(52, 150, 215);
}

.item-2 {
  grid-area: search;
}

.item-3 {
  grid-area: header;
}

.item-4 {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  gap: 20px;
  justify-content: space-evenly;
  align-content: space-evenly;
}
.sub-item {
  width: 40%;
  height: 20%;
  background-color: whitesmoke;
  justify-content: center;
  align-content: center;
  border-left: 10px solid rgb(250, 197, 99);
  border-radius: 10px;
  box-shadow: 5px 8px 10px rgb(165, 164, 164, 0.3);
  padding: 15px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  
}

.item-5 {
 grid-area: announcements;
}

.item-6 {
  grid-area: trending;
}

.item-4, .item-5, .item-6 {
  background-color: rgb(225, 242, 249);
}