@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Raleway:wght@100&family=Roboto&family=Teko:wght@700&display=swap');

html, body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}
.wrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  background-color: rgb(225, 242, 249);
}

.parent-container {
  max-height: 100vh;
  flex: 0 1 100%;
  display: grid;
  grid-template-areas:  " nav search search"
                        "nav header header"
                        "nav main sidebar"
                        "nav main sidebar";
  grid-template-columns: 1fr 3.5fr 1fr;
  grid-template-rows: 0.5fr 1fr 5fr;
}

.child {
  background-color: white;
}

.item-1 {
  grid-area: nav;
  background-color: rgb(52, 150, 215);
  min-height: 100vh;
}

.item-2 {
  grid-area: search;
  display: flex;
  flex: 1 1 auto;
  padding: 1.5em;
  padding-left: 50px;
}

.item-3 {
  display: flex;
  justify-content:space-between;
  padding: 5px 15px 0px 15px;
  grid-area: header;
}
.left-header {
  display: flex; 
  justify-content: space-around;
}
.left-header p {
  font-size: min(20px, max(5vw, 5vh));
}

.left-header h1 {
  font-size: min(30px, max(7vw, 7vh));
}
.left-header img {
  width: 10em;
  height: auto;
}

.right-header {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-end;
  padding-bottom: 2em;
}

.search {
  border-radius: 20px;
  border-style: none;
  width: 30vw;
}

.item-4 {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-content: flex-start;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr 3fr 1fr;
}
span {
  min-height: 10px;
}
.item-4 .text {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 4.5%;
  align-items: flex-end;
  font-size: max(1.1vw, 1.1vh);
}

.item-5 span, .item-6 span, .item-4 .text {
  display: flex;
  width: 100%;
  justify-self: flex-start;
}
.sub-item {
  display: grid;
  /* width: min(35vw,300px);
  height: min(17.5vh, 180px); */
  width: min(30vw, 30vh);
  height: min(15vw, 15vh);
  background-color: white;
  margin-bottom: 20px;
  align-content: center;
  align-items: center;
  border-left: 10px solid rgb(250, 197, 99);
  border-radius: 5px;
  box-shadow: 5px 8px 10px rgb(165, 164, 164, 0.3);
  padding: 5% 3% 3% 5%;
  grid-template-rows: 1fr 3fr 1fr;
}
.sub-item > p, .sub-item > h3 {
margin: 0%;
grid-column: 1 span 2;
flex: 1 1 auto;
}
.sub-item > h3 {
  font-size: max(13px,max(1.05vw, 1.05vh));
}
h2, h3 {
  font-size: max(1.2vw, 1.2vh);
}
h3 {
  padding-bottom: 5%;
}
p {
  font-size: max(12px, max(1vw,1vh));
}
.superchild {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  
}
.item-5 {
 display: flex;
 flex-wrap: wrap;
}

.item-6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.item-4, .item-5, .item-6, .search, :root {
  background-color: rgb(225, 242, 249);
}

#magnify {
  width: 1.5em;
  height: auto;
  margin-right: 1em;
}
input {
  padding-left: 20px;
  color: rgb(13, 12, 12);
  font-weight: 500;
  font-size: 15px;
}

input:focus {
  outline: none;
}

.icons {
  padding-top: 3vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: flex-end;
  justify-self: flex-end;
}
.icons > img {
  width: max(1.3vw, 1.3vh);
  height: auto;
  margin-right: 1px;
}

button {
  background-color: rgb(0, 124, 207);
  color: white;
  font-size: min(15px, max(3vw,3vh));
  width: 6.9em;
  height: 2.9em;
  max-width: min(30vw, 30vh);
  border-radius: 30px;
  border-style: none;
  font-weight: 700;
  margin: 10px;
}
.item-6 img {
  width: max(4vw, 4vh);
  height: auto;
  padding-right: 4%;
}
.trending {
  display: grid;
  box-shadow: 5px 8px 10px rgb(165, 164, 164, 0.3);
  background-color: white;
  grid-template-rows: repeat(4,1fr);
  width: min(30vw, 30vh);
  min-width: fit-content;
  border-radius: 5px;
  margin-right: 5%;
}

.trending > * {
  display: flex;
  flex-grow: 0;
  line-height: 0px;
  justify-content: flex-start;
  align-self: center;
  font-size: max(1.2vw, 1.2vh);
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  
}
.trending p {
  font-size: min(11px, (max(1.7vw, 1.7vh)));
  text-indent: 0.13em;
  font-weight: 100;
  color:gray;
}
.trending h4 {
font-weight: 500;
font-size: min(11px, (max(1.9vw, 1.9vh)));
}
.sub-wrapper {
  display: grid;
  flex-flow: row wrap;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  column-gap: 30px;
  align-self: center;
  justify-content: center;
  margin-left: 50px;
}

.item-5 {
  display: flex;
  align-content: flex-start;
}

.announcement-wrapper {
  display: flex;
  width: min(30vw, 30vh);
  box-shadow: 5px 8px 10px rgb(165, 164, 164, 0.3);
  margin-right: 5%;
  border-radius: 5px;
  background-color: white;

 }
 .announcements {
  display: grid;
  grid-template-rows: repeat(3,1fr);
  margin: 5% 2.5% 0% 5%;
  padding: 1.5% 1.5% 1.5% 1.5%;
}
.announcements > * {
margin:0;

}
hr {
  align-self: center;
}

.announcements p {
  font-size: min(11px, (max(1.9vw, 1.9vh)));
  text-indent: 0.13em;
  font-weight: 100;
  color:gray;
}
.announcements h4 {
  font-size: min(12px, (max(2vw, 2vh)));
}


.trending-wrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}

@media only screen and (max-width: 1300px) {
.sub-wrapper{
  display:  flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 20px;
}
}

@media only screen and (max-width: 528px) {
  .sub-item {
    display: grid;
    width: min(60vw, 60vh);
    height: min(40vw, 40vh);
    max-width: 150px;
    max-height: 100px;
  }
}