.wrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(20, 18, 18, 0.818);
}

.parent-container {
  display: grid;
  width: 75vw;
  height: 100vh;
  grid-template-areas:  " nav search search"
                        "nav header header"
                        "nav main announcements"
                        "nav main trending";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.5fr 1fr 2.5fr 2.5fr;
}

.child {
  border: pink solid;
  background-color: whitesmoke;
}

.item-1 {
  grid-area: nav;
  background-color: rgb(0, 115, 191);
}

.item-2 {
  grid-area: search;
}

.item-3 {
  grid-area: header;
}

.item-4 {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  gap: 20px;
  justify-content: space-evenly;
  align-content: space-evenly;
  background-color: rgba(208, 253, 253, 0.757);
}
.sub-item {
  width: 40%;
  height: 20%;
  background-color: whitesmoke;
  justify-content: center;
  align-content: center;
}

.item-5 {
 grid-area: announcements;
}

.item-6 {
  grid-area: trending;
}